$green-primary: #71b350;
$purple: #8879f2;
$gray: #808080;
$light-gray: #e6e6e6;

html * {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

//Navbar Component
.navbar {
  margin: 0;
  padding: 0;
  background-color: $green-primary;
  overflow: hidden;

  .heading {
    display: block;
    padding: 1rem;
  }

  h5 {
    text-align: left;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    height: 2.5rem;
    width: 100%;
    border-bottom: 3px solid transparent;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul a {
    opacity: 0.7;
  }

  .navHeader {
    text-align: center;
  }
}

//Matches Component
.matchesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1em 0 1em;

  .matchesHeader {
    width: 100%;
    text-align: center;
  }

  .listAllMatches {
    width: 100%;
  }

  .oneMatch {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 1em;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    #day {
      padding: 0.8em 1em 0 1em;
      color: $gray;
      border-bottom: 1px solid $light-gray;
    }

    #teamContainer {
      padding: 0.3em 2em 1em 2em;
    }

    #homeTeam {
      display: flex;
      justify-content: space-between;
      margin: 1em 0 1em 0;
      border-style: solid;
    }

    #awayTeam {
      display: flex;
      justify-content: space-between;
      border-style: solid;
    }

    #button {
      display: inline-block;
      font-size: 16px;
      margin: 10px 0 10px 0;
    }
  }
}
