$green-primary: #71b350;
$purple: #8879f2;
$gray: #808080;
$light-gray: #e6e6e6;
$medium-gray: #404040;
$rem: 10rem;

html * {
    font-family: "Roboto", sans-serif;
    background-color: $green-primary;
}

body {
    margin: 0;
    padding: 0;
}

.Login {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


form {
    width: 100px;
    height: 100px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    input[type="text"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type=text]::-webkit-inner-spin-button,
    input[type=text]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        border: 1px solid;
    }

    button {
        display: inline-block;
        border: none;
        padding: .5rem;
        margin: 0;
        text-decoration: none;
        background: transparent;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        border: 1px solid white;
        border-radius: 1rem;
        width: 10rem;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}