@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

$green-primary: #71b350;
$purple: #8879f2;
$gray: #646464;
$light-gray: #e6e6e6;
$medium-gray: #bababa;
$dark-grey: #404040;
$button-color: #3a66ff;
$rem: 10rem;

html * {
  font-family: "Roboto", sans-serif;
  color: $dark-grey;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input {
  font-size: 1rem;
}

//======================================================Login Component=========================================================

.loginForm {
  font-family: "Roboto", sans-serif;
  background-color: $green-primary;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .inputContainer {
    .label-input {
      display: flex;
      flex-direction: column;
    }

    input {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      color: #ffffff;
      border: none;
      border-bottom: 2px solid #e3fdd6;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }

  h1 {
    text-align: center;
    font-family: "Anton", sans-serif;
    padding-bottom: 3em;
    color: #ffffff;
  }

  label {
    color: #e3fdd6;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  button {
    display: inline-block;
    border: none;
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
    background: white;
    color: $green-primary;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    border-radius: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
  }

  .authError {
    text-align: center;
  }
}

//======================================================Navbar Component========================================================
.navbar {
  margin: 0;
  padding: 0;
  background-color: $green-primary;
  overflow: hidden;

  .heading {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }

  h5 {
    text-align: left;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;
  }

  .navButton button {
    display: inline-block;
    border: none;
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
    background: $button-color;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 0.4rem;
    width: 5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    height: 2.5rem;
    width: 100%;
    border-bottom: 3px solid transparent;
    background-color: $green-primary;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
  }

  ul a {
    opacity: 0.7;
  }

  ul li:hover {
    background-color: #6aa84b;
  }

  .navHeader {
    text-align: center;
  }
}

//===========================================================Matches Component==================================================
.matchesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 0 1rem;

  .listAllMatches {
    width: 100%;
  }

  .gameweekHeader {
    width: 100%;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }

  .gameweekList {
    .button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .oneMatch {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .kickoffTime {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    color: $gray;
    border-bottom: 1px solid $light-gray;
  }

  .submitButton {
    background: $button-color;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 10px 0 10px 0;
  }

  .submitButton:hover {
    cursor: pointer;
  }

  .comparisonMessage {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    a {
      color: $button-color;
    }
  }
}

//==================================================matchDay component==========================================================
#teamContainer {
  padding: 0.3rem 2rem 1rem 2rem;
  border-bottom: 1px solid $light-gray;

  .label-image {
    display: grid;
    grid-template-columns: 20px auto;
    grid-gap: 1rem;

    .teamImage {
      max-height: 24px;
      padding: 0;
      margin: 0 auto;
    }
  }

  #homeTeam {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;

    input[type="number"] {
      text-align: center;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    input[type="number"] {
      width: 1rem;
      border: none;
      background: none;
    }

    input {
      margin: 0 1rem 0 1rem;
    }
  }

  #awayTeam {
    display: flex;
    justify-content: space-between;

    input[type="number"] {
      text-align: center;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    input[type="number"] {
      width: 1rem;
      border: none;
      background: none;
    }

    input {
      margin: 0 1rem 0 1rem;
    }
  }

  .scoreButton {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 1px solid $button-color;
    color: $button-color;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  button:hover {
    cursor: pointer;
  }
}

//==================================================LiveWatch component==========================================================

.LiveWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 1rem 1rem;

  .liveWatch-header {
    width: 100%;
    text-align: center;
    margin: 1rem 0 1rem 0;
  }

  .scoreCard {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 1rem;
  }

  .kickoffLive {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;

    .time {
      color: $gray;
    }
  }

  .liveGame {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    padding: 1rem 1rem;

    .team1 {
      justify-self: end;
    }

    .team1,
    .team2 {
      display: flex;
      align-content: center;
    }

    .liveScore {
      justify-self: center;
    }

    .teamImage {
      max-height: 24px;
      padding: 0;
      margin: 0 10px 0 10px;
    }
  }

  .playersPredictions {
    .player {
      display: grid;
      grid-template-columns: 1fr 40px 1fr;
    }

    .playerName {
      padding-left: 2rem;
      color: $gray;
    }

    .playerPrediction {
      justify-self: center;
      color: $gray;
      padding-bottom: 1rem;
    }
  }
}


//==================================================Table component==========================================================
.Table {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 10%;
  font-size: 20px;
}

// media query

@media (min-width: 700px) {

  .matchesList,
  .navbar ul,
  .LiveWatch {
    margin: 0 auto;
    max-width: 700px;
  }

  .LiveWatch {
    .playersPredictions {
      .playerPrediction {
        flex-grow: 1.155;
      }
    }
  }
}