@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
html * {
  font-family: "Roboto", sans-serif;
  color: #404040;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input {
  font-size: 1rem;
}

.loginForm {
  font-family: "Roboto", sans-serif;
  background-color: #71b350;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loginForm .inputContainer .label-input {
  display: flex;
  flex-direction: column;
}
.loginForm .inputContainer input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 2px solid #e3fdd6;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.loginForm h1 {
  text-align: center;
  font-family: "Anton", sans-serif;
  padding-bottom: 3em;
  color: #ffffff;
}
.loginForm label {
  color: #e3fdd6;
}
.loginForm .buttonContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.loginForm button {
  display: inline-block;
  border: none;
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  background: white;
  color: #71b350;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  border-radius: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}
.loginForm .authError {
  text-align: center;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #71b350;
  overflow: hidden;
}
.navbar .heading {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.navbar h5 {
  text-align: left;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  width: 100%;
}
.navbar .navButton button {
  display: inline-block;
  border: none;
  padding: 0.5rem;
  margin: 0;
  text-decoration: none;
  background: #3A66FF;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.4rem;
  width: 5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.navbar li {
  height: 2.5rem;
  width: 100%;
  border-bottom: 3px solid transparent;
  background-color: #71b350;
}
.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar ul a {
  opacity: 0.7;
}
.navbar ul li:hover {
  background-color: #6aa84b;
}
.navbar .navHeader {
  text-align: center;
}

.matchesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 0 1rem;
}
.matchesList .listAllMatches {
  width: 100%;
}
.matchesList .gameweekHeader {
  width: 100%;
  text-align: center;
  margin: 1rem 0 1rem 0;
}
.matchesList .gameweekList .button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.matchesList .oneMatch {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.matchesList .kickoffTime {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: #646464;
  border-bottom: 1px solid #e6e6e6;
}
.matchesList .submitButton {
  background: #3A66FF;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 10px 0 10px 0;
}
.matchesList .submitButton:hover {
  cursor: pointer;
}

#teamContainer {
  padding: 0.3rem 2rem 1rem 2rem;
  border-bottom: 1px solid #e6e6e6;
}
#teamContainer .label-image {
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 1rem;
}
#teamContainer .label-image .teamImage {
  max-height: 24px;
  padding: 0;
  margin: 0 auto;
}
#teamContainer #homeTeam {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}
#teamContainer #homeTeam input[type=number] {
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
#teamContainer #homeTeam input[type=number]::-webkit-inner-spin-button,
#teamContainer #homeTeam input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#teamContainer #homeTeam input[type=number] {
  width: 1rem;
  border: none;
  background: none;
}
#teamContainer #homeTeam input {
  margin: 0 1rem 0 1rem;
}
#teamContainer #awayTeam {
  display: flex;
  justify-content: space-between;
}
#teamContainer #awayTeam input[type=number] {
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
#teamContainer #awayTeam input[type=number]::-webkit-inner-spin-button,
#teamContainer #awayTeam input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#teamContainer #awayTeam input[type=number] {
  width: 1rem;
  border: none;
  background: none;
}
#teamContainer #awayTeam input {
  margin: 0 1rem 0 1rem;
}
#teamContainer .scoreButton {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 1px solid #3A66FF;
  color: #3A66FF;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
#teamContainer button:hover {
  cursor: pointer;
}

.LiveWatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .matchesList,
.navbar ul {
    margin: 0 auto;
    max-width: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
